/* ---------- CSS advanced ------------ */
/* Content :                           

  BASE STYLE........................  22
    Page layout.....................  58
  HEADER, NAVTAB STYLE & LAYOUT.....  71
  MAIN CONTENT...................... 121
    Transform section............... 130
      Example transfroms square..... 158
      Modal style & layout.......... 203
    Transition section.............. 234
      The transition animation...... 253
    Animation section............... 298
      The animation................. 309
  FOOTER............................ 346
    


*/


/*---  BASE STYLE  ---*/

:root {
  --main-bg-color:   #1786a8;
  --main-color:      white;
  --link-color:      white;
  --btn-bg-color:    #33b5e5;
  --border-color:    rgb(0, 0, 133);
  --shadow-color:    grey;
  --modal-bg-color:  #1786a893;
}

html,
body {
  box-sizing:          border-box;
  overflow-x:          hidden;
}

  a {
    text-decoration:   none;
    color:             var(--link-color);
  }


  h3 {
    margin-bottom:     4rem;
  }

/* Page layout */
.page-container {
  display: grid;
  grid-template-areas:
  "header header header"
  "main main main"
  "main main main"
  "footer footer footer";
}




/*---  HEADER, NAVTAB STYLE & LAYOUT  ---*/

header {
  display:            grid;
  grid-area:          header;
  background-color:   var(--main-bg-color);
  color:              var(--main-color);
  width:              100vw;
}

  /*  Desktop  */
  @media (min-width: 768px) {
    .header-container {
      display:            flex;
      flex-direction:     row;
      justify-content:    space-between;
    }

      .nav > li > .ize:hover { /* Navtab hover */
        background-color: var(--btn-bg-color);
        color:            var(--main-color);
      }

      .header-container > h4 {
        order:        2;
        margin-right: 3rem;
      }
  }
  
  /*  Mobile */
  @media (max-width: 768px) {
    .header-container {
      display:         flex;
      flex-direction:  column;
      align-items:     center;
    }
  }




/*---  MAIN CONTENT STYLE ---*/
main {
  display:               grid;
  grid-area:             main;
  height:                auto;
  width:                 100vw;
}


  /*--- Transform section ---*/
  /* Desktop */
  @media (min-width: 768px){
    .container-2d, .container-3d {
      display:            flex;
      flex-direction:     column;
      align-items:        center;
    }
  }
  
  /* Mobile */
  @media (max-width: 768px) {
    .container-2d, .container-3d {
      display:            flex;
      flex-direction:     column;
      align-items:        center;
    }
  }

    /* Example transfroms square */
    .examplediv { 
      background-color:  var(--main-bg-color);
      border:            1px solid var(--border-color);
      box-shadow:        5px 5px 5px var(--shadow-color);
      text-align:        center;
      color:             var(--main-color);
      width:             10rem;
      height:            8rem;
      padding:           3rem 0;
    }

    #translatediv{
      transform:         translate(5px,5px);
    }

    #rotatediv {
      transform:         rotate(5deg);
    }

    #scalediv {
      transform:         scale(1,1.5);
    }

    #skewdiv {
      transform:         skew(10deg,10deg);
    }

    #matrixdiv {
      transform:         matrix(1, -0.3, 0, 1, 0, 0);
    }

    #rotateXdiv {
      transform:         rotateX(150deg);
    }

    #rotateYdiv {
      transform:         rotateY(150deg);
    }

    .btn-info {
      margin:            4rem 0;
    }
  
    /* Modal style & layout */
    .modal-container {
      display:           flex;
      flex-direction:    row;
      justify-content:   center;
      width:             20%;
    }

    .modal-content { 
      background-color:  var(--modal-bg-color);
      color:             var(--main-color);
      text-align:        center;
    }

      .close {
        color:           var(--main-color);
        text-align:      center;
      }

      pre {
        background-color: var(--main-color);
        color:            var(--main-bg-color);
        text-align:       left;
        white-space:      pre-line;
        height:           auto;
        overflow-y:       auto;
      }

      #ani-pre {
        height:           60vh;
        overflow-y:       auto;
      }
    
      .modal-footer > button {
        margin:           0 auto;
      }
  



/*--- Transition section ---*/

  /* The transition animation */
  .animated_div {
    background-color:       var(--main-bg-color);
    border:                 2px solid var(--main-bg-color);
    border-radius:          5px;
    color:                  var(--main-color);
    width:                  8rem;
    height:                 8rem;
    text-align:             center;
    padding:                2.5rem 0;
    margin:                 2rem 0;
    transition:
      width 1.5s,
      font-size 1.5s,
      tranform 1.5s,
      background-color 1.5s,
      color 1.5s;
  }

    .animated_div:hover {
      background-color:           var(--main-color);
      color:                      var(--main-bg-color);
      font-size:                  2rem;
      font-weight:                bold;
      width:                      68%;
      transition-timing-function: ease-in-out;
    }

/* Mobile */    
@media (max-width: 768px) {
  .animated_div:hover {
    width:                        100%;
  }
}
  li {
    list-style-type:              square;
  }

  table {
    margin:                       2rem 0;
  }




/*--- Animation section ---*/

/* Desktop */
@media (min-width: 768px) {
  .flex-content {
    display:                      flex;
    flex-direction:               column;
    justify-content:              flex-start;
    align-items: center;
  }


/*--- FOOTER ---*/
footer {
  display:                      grid;
  grid-area:                    footer;
  background-color:             var(--main-bg-color);
  color:                        var(--main-color);
  line-height:                  2.5rem;
  text-align:                   center;
}